div.list{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.card{
    background-color: #ffffff;
    padding: 5px;
    width: 300px;

}
p.card__title{
    color: #282828;
    font-size: 14px;
}

p.card__description{
    color:#282828;
    font-size: 12px;

}
img.card__img-top{
    height: 182px;
    width: 288px;
    margin-bottom:6px;
    
}
header{
    background-color: #ffffff;
    height: 15px;
}
body{
    background-color: #797979;
}
footer{
    background-color: #ffffff;
    height: 15px;
}

@media  screen and (max-width: 768px) {
    p.card__description{
        font-size: 9px;
    
    }
    p.card__title{
        color: #282828;
        font-size: 11px;
    }
}
@media screen and (max-width: 321px){
    p.card__title{
        color: #282828;
        font-size: 9px;
    }
    p.card__description{
        display:none;
    }
    div.list{
        display: grid;
    }
}